@import "./reset.css";

@font-face {
    font-family: 'ABCOracleVariable-Trial';
    src: url('../public/assets/fonts/ABCOracleVariable-Trial.woff');
}

@font-face {
    font-family: 'InterVariable';
    src: url('../public/assets/fonts/InterVariable.ttf');

}

:root {
    /*Colors*/
    /*Accents*/
    --main-white: #FFFFFF;
    --accent-blue-dark: #485D98;
    --accent-blue: #B8CAFF;
    --accent-blue-light: #F4F7FF;
    --accent-yellow-dark: #7E6A2D;
    --accent-yellow: #FCEAB3;
    --accent-yellow-light: #FCF9F0;
    --accent-pink-dark: #AB5C68;
    --accent-pink: #FCC3CB;
    --accent-pink-light: #FFEEF1;
    --accent-green-dark: #3D7D33;
    --accent-green: #A6D59F;
    --accent-green-light: #F0F7E9;

    /*Neutral*/
    --neutral-black: #0D0D0D;
    --neutral-dark-grey: #74706D;
    --neutral-black-hover: #343434;
    --neutral-grey: #EAE7E4;
    --neutral-light-grey: #F9F8F7;
    --neutral-white: #FFFFFF;

    /*Fonts*/
    --font-heading: 'ABCOracleVariable-Trial', 'InterVariable', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    --font-body: 'InterVariable', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

    /*Spacings*/
    --spacing-xxs: 2px;
    --spacing-xs: 4px;
    --spacing-s: 8px;
    --spacing-sm: 12px;
    --spacing-m: 16px;
    --spacing-ml: 20px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 48px;
    --spacing-xxxl: 56px;
    --spacing-S: 64px;
    --spacing-M: 96px;
    --spacing-L: 128px;
    --spacing-XL: 256px;


    /*Border Radius*/
    --radius-xs: 4px;
    --radius-s: 8px;
    --radius-m: 12px;
    --radius-l: 16px;
    --radius-lxl: 20px;
    --radius-xl: 24px;
    --radius-xxl: 256px;
    --radius-full: 9999px;
}

h1,
.h1 {
    color: var(--neutral-black);
    font-family: var(--font-heading);
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    font-weight: 350;
}

h2,
.h2 {
    color: var(--neutral-black);
    font-family: var(--font-heading);
    font-size: 48px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    font-weight: 350;

}

h3,
.h3 {
    color: var(--neutral-black);
    font-family: var(--font-heading);
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    font-weight: 350;

}

h4,
.h4 {
    color: var(--neutral-black);
    font-family: var(--font-heading);
    font-size: 24px;
    line-height: 1.30;
    letter-spacing: -0.03em;
    font-weight: 350;

}

h5,
.h5 {
    color: var(--neutral-black);
    font-family: var(--font-heading);
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    font-weight: 350;

}

h6,
.h6 {
    color: var(--neutral-black);
    font-family: var(--font-heading);
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    font-weight: 350;
}

.h7 {
    color: var(--neutral-black);
    font-family: var(--font-heading);
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    font-weight: 350;

}

.h8 {
    color: var(--neutral-black);
    font-family: var(--font-heading);
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    font-weight: 350;
}

p {
    color: var(--neutral-black);
    font-family: var(--font-body);
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;

}

.body-xxl {
    color: var(--neutral-black);
    font-family: var(--font-body);
    font-size: 32px;
    line-height: 1.4;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;

}

.body-xl {
    color: var(--neutral-black);
    font-family: var(--font-body);
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;

}

.body-l {
    color: var(--neutral-black);
    font-family: var(--font-body);
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;

}

.body-m {
    color: var(--neutral-black);
    font-family: var(--font-body);
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;

}

.body-s {
    color: var(--neutral-black);
    font-family: var(--font-body);
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;

}

.body-xs {
    color: var(--neutral-black);
    font-family: var(--font-body);
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
}

.global-layout {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-white);
}