.FieldPlaceHolderTop {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 52px;
    border-radius: var(--radius-s);
    padding: var(--spacing-sm) var(--spacing-m) var(--spacing-sm) var(--spacing-m);
    background-color: var(--neutral-light-grey);
    gap: 2px;
}

.FieldPlaceHolderTop.field-input {
    display: none;
}

.field-input-label {}