.FieldPassword {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 52px;
    gap: 2px;
    border-radius: var(--radius-s);
    background-color: var(--neutral-light-grey);
    padding: var(--spacing-sm) var(--spacing-m) var(--spacing-sm) var(--spacing-m);
    transition: box-shadow 200ms ease-in-out;
    box-shadow: inset 0 0 0 0px var(--neutral-grey);
}

.field-input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    overflow: visible;
    padding-bottom: 2px;
}

.field-input:not(:placeholder-shown) {
    color: var(--neutral-black);
}


.FieldPassword:hover,
.FieldPassword:focus,
.FieldPassword:focus-within {
    box-shadow: inset 0 0 0 1px var(--neutral-grey);
}

.password-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: var(--neutral-dark-grey);
    transition: color 0.15s ease-in-out;
}

.password-toggle:hover {
    color: var(--neutral-black);
}

.password-toggle svg {
    display: block;
}

.password-strength-and-toggle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    gap: var(--spacing-sm);
}